body,td,th {
	color: #FFFFFF;
}
#bg {
	background-color: #000000;
	xbackground-image: url("/images/thegame.png");
        background-position: center top;
        background-repeat: no-repeat;
        /*background-size: contain;
        background-size: cover; */
}


.style5 {color: #666666}
.style7 {color: #666666; font-size: 14px; }
a:link {
	color: #993366;
}
a:visited {
	color: #996699;
}
.style8 {color: #797979}
.introText {
	text-align: center;
	font-size: 18px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom: 28px;
}

#twitterAccountText {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 28px;
}

#twitterAccountText a {
	color: white;
	text-decoration: none;
}

.twitterDot {
	color: green;
}

#lastIntroText {
	margin-left: 30px;
	margin-right: 30px;
}

.introTextContainer {
	padding-top: 540px;
}
#bottomIntroText {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


.youtube {
	margin-top: 190px;
	text-align: center;
}
        .my-bg-light {
            background-color: #FCBE2C;
        }

        img.shirt {
            margin: 80px 0 0 0;
            width: 80%;
        }
        .help-block.error {
            color: #c00;
        }
        .card {
            background-color: #222222;
        }
        .my-bg-light {
            background-color: #FCBE2C;
        }
        @media only screen and (min-width: 1000px) {
            p.introText:first-child {
                margin-top: 100px;
            }
        }
        @media only screen and (max-width: 1000px) {
            .shirtcol {
                display: none;
                width: 0;
            }
            p.introText:first-child {
/*
                margin-top: 180px;
*/
            }
            #bg {
	        background-color: #000000;
	        xbackground-image: url("/images/AngryBlacksBackground.jpg");
                background-position: 0 20px;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
        }
        @media only screen and (max-width: 600px) {
        }

.bg { 
    /* The image used */
    background-image: url("/images/CONTEST_background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
 ol.myul {
   list-style: none;
        color: #cc0000;
        font-weight: bold;
        font-size: 120%;
 }
 ol.myul li {
   counter-increment: item;
   margin-bottom: 5px;
 }
 ol.myul li:before {
   margin-right: 10px;
   content: counter(item);
   background: #77d355;
   border-radius: 100%;
   color: white;
   width: 1.2em;
   text-align: center;
   display: inline-block;
 }

/* Arrow holder */
.arrowed {
    position: relative;
    height: 200px; width: 200px;
    margin: 0 20px 20px 0;
    border: 1px solid rgba(0,0,0,0.25);
}

/* Just centering the examples */
.arrowed div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.arrow-pointing-right {
    /* more triangle */
    position: relative;
    height: 0px; width: 0px;
    border: 22px solid;
    border-color: 
        #cc0000
        #cc0000
        transparent
        transparent;
    transform: rotate(45deg); 
}

.arrow-pointing-right:before {
    content: '';
    position: absolute;
    top: 0px; right: 0px;
    display: block;
    height: 22px; width: 22px;
    background-color: #cc0000;
    transform: 
        rotate(-45deg) 
        translate(5px, -1px);
}

.arrow-pointing-left {
    /* more triangle */
    position: relative;
    height: 0px; width: 0px;
    border: 22px solid;
    border-color: 
        #cc0000
        #cc0000
        transparent
        transparent;
    transform: rotate(-135deg); 
}

.arrow-pointing-left:before {
    content: '';
    position: absolute;
    top: 0px; right: 0px;
    display: block;
    height: 22px; width: 22px;
    background-color: #cc0000;
    transform: 
        rotate(-45deg) 
        translate(5px, -1px);
}
